
        <!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
        <main id="mainContent" class="main-content">
            <div class="page-container ptb-60">
                <div class="container">
                    <div class="row row-rl-10 row-tb-20">
                        {{#if isLoggedIn}}
                        <div class="page-content col-xs-12 col-md-10">
                            <section class="section coupons-area coupons-area-list">
                                <!-- Page Control -->
                                <header class="page-control panel ptb-15 prl-20 pos-r mb-30">
                                    <!-- List Control View -->
                                    <ul class="list-control-view list-inline">
                                        <li><a href="/vouchers?list=1"><i class="fa fa-bars"></i></a>
                                        </li>
                                        <li><a href="/vouchers?grid=1"><i class="fa fa-th"></i></a>
                                        </li>
                                    </ul>
                                    <!-- End List Control View -->
                                    <div class="right-10 pos-tb-center">
                                        <select class="form-control input-sm">
                                            <option>SORT BY</option>
                                            <option>Newest items</option>
                                        </select>
                                    </div>
                                </header>
                                <!-- End Page Control -->
                                <div class="row row-masnory row-tb-20">
                                    {{#each vouchers}}
                                    <div class="col-xs-12">
                                        <div class="coupon-single panel t-center t-sm-left">
                                            <div class="row row-sm-cell row-tb-0 row-rl-0">
                                                <div class="col-sm-5">
                                                    <figure class="p-15">
                                                        <img class="store-logo" src="{{imgPath}}" alt="">
                                                    </figure>
                                                </div>
                                                <!-- end col -->
                                                <div class="col-sm-7">
                                                    <div class="panel-body">
                                                        <ul class="deal-meta list-inline mb-10">
                                                            <li class="color-green"><i class="ico lnr lnr-smile mr-5"></i>Verifed</li>
                                                            <li class="color-muted"><i class="ico lnr lnr-users mr-5"></i>125 Used</li>
                                                        </ul>
                                                        <h5 class="deal-title mb-10">
                                                            <a href="#">10% off select XPS & Alienware laptops</a>
                                                        </h5>
                                                        <p class="mb-15 color-muted font-12"><i class="lnr lnr-clock mr-10"></i>Expires in 1 day 30 hours</p>
                                                        <div class="showcode">
                                                            <button class="btn btn-sm btn-block" data-toggle="modal" data-target="#coupon_01">Show Code</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end col -->
                                            </div>
                                            <!-- end row -->
                                        </div>
                                        <div class="modal fade get-coupon-area" tabindex="-1" role="dialog" id="coupon_01">
                                            <div class="modal-dialog">
                                                <div class="modal-content panel">
                                                    <div class="modal-body">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                                        </button>
                                                        <div class="row row-v-10">
                                                            <div class="col-md-10 col-md-offset-1">
                                                                <img src="assets/images/brands/store_logo.jpg" alt="">
                                                                <h3 class="mb-20">Save 30% off New Domains Names</h3>
                                                                <p class="color-mid">Not applicable to ICANN fees, taxes, transfers,or gift cards. Cannot be used in conjunction with any other offer, sale, discount or promotion. After the initial purchase term.</p>
                                                            </div>
                                                            <div class="col-md-10 col-md-offset-1">
                                                                <a href="#" class="btn btn-link">Visit Our Store</a>
                                                            </div>
                                                            <div class="col-md-10 col-md-offset-1">
                                                                <h6 class="color-mid t-uppercase">Click below to get your coupon code</h6>
                                                                <a href="#" target="_blank" class="coupon-code">X455-17GT-OL58</a>
                                                            </div>
                                                            <div class="col-md-10 col-md-offset-1">
                                                                <div class="like-report mb-10">
                                                                    <span>Share this coupon :</span>
                                                                    <ul class="list-inline social-icons social-icons--colored mt-10">
                                                                        <li class="social-icons__item">
                                                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                                                        </li>
                                                                        <li class="social-icons__item">
                                                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                                                        </li>
                                                                        <li class="social-icons__item">
                                                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                                                        </li>
                                                                        <li class="social-icons__item">
                                                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer footer-info t-center ptb-40 prl-30">
                                                        <h4 class="mb-15">Subscribe to Mail</h4>
                                                        <p class="color-mid mb-20">Get our Daily email newsletter with Special Services, Updates, Offers and more!</p>
                                                        <form method="post" action="#">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control bg-white" placeholder="Your Email Address" required="required">
                                                                <span class="input-group-btn">
                                                            <button class="btn" type="submit">Sign Up</button>
                                                            </span>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                    
                                </div>
                                <!-- Page Pagination -->
                                <div class="page-pagination text-center mt-30 p-10 panel">
                                    <nav>
                                        <!-- Page Pagination -->
                                        <ul class="page-pagination">
                                            <li><a class="page-numbers previous" href="#">Previous</a>
                                            </li>
                                            <li><a href="#" class="page-numbers">1</a>
                                            </li>
                                            <li><span class="page-numbers current">2</span>
                                            </li>
                                            <li><a href="#" class="page-numbers">3</a>
                                            </li>
                                            <li><a href="#" class="page-numbers">4</a>
                                            </li>
                                            <li><span class="page-numbers dots">...</span>
                                            </li>
                                            <li><a href="#" class="page-numbers">20</a>
                                            </li>
                                            <li><a href="#" class="page-numbers next">Next</a>
                                            </li>
                                        </ul>
                                        <!-- End Page Pagination -->
                                    </nav>
                                </div>
                                <!-- End Page Pagination -->
                            </section>
                        </div>
                        {{else}}
                            {{#with alert}}
                            <div class="col-md-12 form-group alert {{type}}">
                                <strong>{{{message}}}</strong>
                            </div>
                            {{/with}}
                        {{/if}}

                    </div>
                </div>
            </div>
        </main>
        